.body {
  padding: 0 50px;
  background-color: #fff;
}



.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  max-height: 21px;
  padding: 44px 0;
}

/* .header__links-list {

} */

.header__link_active {
  text-decoration: none;
}

.header__logo {
  padding-bottom: 4px
  width: 150px;
}

.header__logo-image {
  height: 105px;
}

.address {
  max-width: 240px;
  max-height: 100px;
  font-style: normal;
}

.address__links {
  line-height: 24.3px;
}


